* {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: inherit;
}

body {
	font-family: "Poppins", sans-serif;
	min-width: 700px;
	max-width: 1000px;
	min-height: 100vh;
	padding: 1rem;
	margin: auto;
}

h1 {
	text-transform: uppercase;
	margin-bottom: 0.5rem;
}

header {
	text-align: center;
	padding: 1rem;
}

main {
	display: grid;
	gap: 1rem;
}

main h3 {
	text-transform: uppercase;
}

.highlight {
	font-weight: bold;
}

.animation-title {
	color: #2ca450;
}

.transition-title {
	color: #197ada;
}
.transform-title {
	color: #8c51ba;
}

.animation-title > span {
	color: white;
	background-color: #2ca450;
}

.transition-title > span {
	color: white;
	background-color: #197ada;
}

.transform-title > span {
	color: white;
	background-color: #8c51ba;
}

h3 > span {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 1.8rem;
	height: 1.8rem;
	border-radius: 50%;
	margin-right: 0.5rem;
}

.box {
	height: 100px;
	width: 100px;
	background-color: black;
	border-radius: 10px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn {
	border: none;
	border-radius: 5px;
	font-size: 1.2rem;
	background-color: black;
	color: white;
	padding: 1rem 3rem;
}

.animation,
.transition,
.transform {
	height: 10rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-radius: 10px;
}

.animation {
	background-color: #f3f9f5;
}

.transition {
	background-color: #f2f7fb;
}

.transform {
	background-color: #f6f3fa;
}

.animation-text,
.transition-text,
.transform-text {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 1rem;
	width: 30%;
}

.animation-area,
.transition-area,
.transform-area {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 70%;
	background-color: white;
	padding: 1rem;
	border: #ebeaee 1px solid;
	border-radius: 10px;
	padding: 1rem 2rem;
}

/* main work ---------------------------------- */

/* animation section */
.animation .box {
	background: linear-gradient(135deg, #f154a8 0%, #8c59e3 50%, #3bd396 100%);
	background-size: 150%;
	animation-name: slideIn;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

/* animation keyframes */
@keyframes slideIn {
	0% {
		transform: translateX(-150%);
		background-position: 0% 50%;
	}
	50% {
		transform: translateX(150%);
		background-position: 100% 100%;
	}
	100% {
		transform: translateX(-150%);
		background-position: 0% 50%;
	}
}

/* transition section */
.transition .btn {
	background-color: #197ada;
	transition-property: background-color, scale;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

.transition .btn:hover {
	background-color: #2ca450;
	scale: 1.1;
}

/* transform section */
.transform .box {
	background-color: #8c51ba;
	transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

.transform .box:hover {
	transform: rotate(15deg);
}
